params {
    input = '/raw_read_data/*_R1_001.fastq.gz'
    ref   = '/reference/phyllotis_RNASEQ_Scf1_22_final_assembly_REF.fna'
    tmp   = '/tmp_dir'
    cpus = Math.min(64, Runtime.runtime.availableProcessors())
}

process {
    executor = 'slurm'
    memory = '150 GB'
    time = '7d'
    maxCpus = params.cpus as int
    maxForks = params.cpus as int

    beforeScript = '''
        source ~/miniconda3/etc/profile.d/conda.sh
        conda activate clean-map-qc
    '''.stripIndent()

    withName: Fastp {
        cpus = 6
        maxForks = Math.floorDiv(params.cpus, cpus)
    }

    withName: AlignReads {
        cpus = 8
        maxForks = Math.floorDiv(params.cpus, cpus)
    }

    withName: QualimapQC {
        cpus = 4
        memory = '25 GB'
        maxForks = Math.floorDiv(params.cpus, cpus)
    }

    withName: MultiQC_Fastp {
        cpus = 1
        maxForks = 1
    }

    withName: MultiQC_Qualimap {
        cpus = 1
        maxForks = 1
    }
}
